@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --translate-1-inital: 0px;
    --translate-1-final: 0px;
    --translate-2-inital: 0px;
    --translate-2-final: 0px;
    --translate-3-inital: 0px;
    --translate-3-final: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

/* projectCard */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-right: 1rem;
    padding: 1rem;
    z-index: 0;
}

.card:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 88%;
    height: 88%;
    background: #05182B;
    border-radius: 15px;
    z-index: -1;
    transition: all 150ms ease;
}

.card:hover:before {
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
}

.card-cover {
    height: auto;
    width: auto;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.card-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.card-detail-number {
    background-color: #1e1b4b;
    padding: 0.75rem 0.5rem;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.card-detail-text {
    flex: 1;
    color: white;
    padding: 0 0.5rem;
}

.card-detail-text>.title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.card-detail-text>.subtitle {
    font-size: 0.75rem;
    margin: 0;
}

@keyframes spin-1 {
    0% {
        transform: translateY(var(--translate-1-inital));
    }
    100% {
        transform: translateY(var(--translate-1-final));
    }
}
@keyframes spin-2 {
    0% {
        transform: translateY(var(--translate-2-inital));
    }
    100% {
        transform: translateY(var(--translate-2-final));
    }
}
@keyframes spin-3 {
    0% {
        transform: translateY(var(--translate-3-inital));
    }
    100% {
        transform: translateY(var(--translate-3-final));
    }
}
