.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-right: 1rem;
    padding: 1rem;
    z-index: 0;
    cursor: pointer;
}

.card:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 88%;
    height: 88%;
    background: #05182B;
    border-radius: 15px;
    z-index: -1;
    transition: all 150ms ease;
}

.card:hover:before {
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
}

.card-cover {
    height: auto;
    width: auto;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.card-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.card-detail-number {
    background-color: #1e293b;
    padding: 0.75rem 0.5rem;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.card-detail-text {
    flex: 1;
    color: white;
    padding: 0 0.5rem;
}

.card-detail-text>.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.card-detail-text>.subtitle {
    font-size: 0.875rem;
    margin: 0;
}